/**Dclasyc Personal CV-
 * Cascading Styling Sheet**/

 /**Navigation panel Div**/

 body{
  background-color: #f4f5f6;
 }
  
#parentdiv{

  min-height: 600px;
  width: inherit;
}

  .navbar{
    background-color: #000;
    box-shadow: 0px 0px 0px 0px;
  }

  ul{
    margin-right: 20px;
  }


  .navtext{
    color: #fff !important;
  }

  .navtext:hover{
    color: #ff8f1f !important;
  }



  .nav-link{
    text-decoration: none;
    color: white;
  }

  .mybuttons{
    background-color:#000;
    border: 1px solid #ff8f1f;
    color: #fff;
    
  }

  .mybuttons:hover{
    background-color: #ff8f1f; /*orange*/
    border: 1px solid #fff;
    color: #fff;

  }

  #btnorder{
    background-color:#ff8f1f;
    color: #fff;
    
  }

  #btnsell{
    background-color:#000;
    border: 1px solid #ff8f1f;
    margin-right: 40px;
    width: 200px;
    box-shadow: 0px 0px 0px 0px;
    color: #fff;
    
  }

  #btnsell:hover{
    background-color: #ff8f1f; /*orange*/
    border: 1px solid #fff;
    width: 205px;
    color: #fff;
  }


  #adsdiv{
    border: 0px solid #000;
    height: 400px;
    margin-top: 10px;
    
      }

  #sidepanel_and_landingpics_div{

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #sidepanel {
    border: 0px solid #000;
    margin-left: 10px;
  }


  /*Media query Start*/

    @media only screen and (max-width: 1024px) {
    
    #sidepanel{
      margin-left: 0px;
      width: 100%;
      border: 0px solid #000;
      display: flex;
      flex-wrap: wrap;
      justify-content: center !important;
    }

    .sidepanellist{
      margin:5px;
      justify-self:;

    }

    #sidepanel_and_landingpics_div{
      flex-wrap: wrap !important;
      border: 0px solid #000;
      
    }

    #indexpicsdiv{
      display: flex;
      justify-content: center !important;
      border: 0px solid #000 !important;

    }

    .landingpagepics{
      margin-top: 10px;
      width: 250px !important;
      height: 250px !important;
      
      
    }

    #adsdiv{
      border: 0px solid #000;
      height: 200px;
      margin-top: 0px;
      background-image: url(images/caraimg7.jpg);
      background-position:top;
    }

    #carouselExampleControls{
      display: none;
    }

    #login_signup_divider{
      display: none;
    }

  }

  /*End of Media Query*/
 

  

  .sidepanellist {
    border: 0px solid #fff;
    border-radius: 5px;
    height: 70px;
    width: 350px;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(255,143,31,0.5));
  }

  .sidepanellist:hover{
    background-color: rgba(255, 143, 31,1);
    border: 0px solid #fff
  }

  h4{
    color: #fff;
  }

  h4:hover{
    color:#000;
  }



  #indexpicsdiv{
    border: 0px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;


  }

  .landingpagepics{
    height: 330px;
    width: 230px;
    border: 1px solid #a2a2a2;
   /* box-shadow: 0px 0px 2px 2px;*/
    margin-bottom: 30px;
  }


  .card-img-top{
    width: 230px !important;
    height: 230px !important;
    position: !important;
  }

  div .card-body h5{
   color: #0cce6b
  }


  /*Product Information Page*/

.productinfoimg{
    height: 600px;
    border: 0px solid #a2a2a2;
   /* box-shadow: 0px 0px 2px 2px;*/
    margin-bottom: 30px;
  }


  .card-imginfo-top{
    width: 400px !important;
    height:500px !important;
    box-shadow: 0px 0px 3px 1px #a2a2a2;

  }

  #card-title-div{
    border-top: 1px solid #a4a5a6;
  }

  #carddescriptiondiv{
    border-top: 1px solid #a4a5a6;
  }

  #cardbuttondiv{
    border-top: 1px solid #a4a5a6;
  }


  .sideprodinfodiv{
    
    box-shadow: 0px 0px 3px 1px #a4a5a6;
    text-align: center;
  }

  #btnfeedback{
    background-color: #ff8f1f; /*orange*/
    border: 1px solid #fff;
    color: #fff;
  }


/* End Product Information Page*/


  /*Footer Section*/

  #footerdiv{

    height:100px;
    border:0px solid #000;
    background-color:#000;
  }

 /* #overlay{
  border:0px solid black;
  width:100%;
  min-height:200px;
  background-color:rgba(0,0,0,0.2);
  padding-top: 100px;*/

